<p id="notice"><%= notice %></p>

<h1>Face Detections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <video id="target" width="800" height="600" autoplay></video>
  </tbody>
</table>

<br>

<script src="./js/application.js"></script>
<link rel="stylesheet" href="./css/application.css">
