<p id="notice"><%= notice %></p>

<h1>計測画面</h1>

<table>

  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <p>
      <img src="image/webp"/>
      <canvas id="canvas" width="620" height="440"></canvas>
    </p>
  </tbody>

</table>

<br>
